header {
	display: flex;
	justify-content: space-between;

}

.liens{

	margin-right: 40%;
	margin-top: 10%;
}

section{
	text-align: center;

}

footer {
	flex-direction: row;
	display: flex;
	justify-content: space-between;



}

.contact {
	float: right;
}

.linkedin {
 	width: 100px;
 	height: 100px;

}
